# Database Configuration
MONGO_URI=mongo_url

# Server Configuration
PORT=3001
ENVIRONMENT=development

# JWT Secrets (Use random strings for each)
JWT_SIGNUP_SECRET=your_jwt_signup_secret_key_here
JWT_ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_key_here
JWT_REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_key_here
JWT_RESET_PASSWORD_SECRET=your_jwt_reset_password_secret_key_here
JWT_NEW_PASSWORD_SECRET=your_jwt_new_password_secret_key_here

# Encryption Configuration (32 hex characters for key, 32 hex characters for iv)
ENCRYPTION_KEY=00000000000000000000000000000000
ENCRYPTION_IV=00000000000000000000000000000000
ENCRYPTION_ALGORITHM=aes-256-cbc

# Bcrypt Configuration
BCRYPT_ROUND=10

# Backend Server URL
SERVER_URL="http://localhost:3001" 

# Email Configuration (Mailer)
SMTP_API_KEY =your_smtp_api_key_here
SMTP_USER =your_smtp_user_here
SENDER_EMAIL =sender_email_address_here

# Cloudinary Configuration (Image Upload)
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Groq Configuration (AI)
GROQ_API_KEY=your-groq-api-key

# Redis Configuration (Caching)
UPSTASH_REDIS_REST_URL=upstash_redis_rest_url_here
UPSTASH_REDIS_REST_TOKEN=upstash_redis_rest_token_here

